html, body {
  height: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-wrapper > div {
  height: 100%;
}

.site-wrapper > div > div {
  height: 100%;
  padding: 10px 5px;
}

.main-menu {
  position: relative;
}

.main-menu, .user-account {
  height: 100px;
}

.top-nav, .main-nav {
  background: #6c7a89;
  opacity: 0.4;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}

.top-nav:hover, .main-nav:hover {
  opacity: 0.8;
}

.main-nav {
  position: relative;
  height: calc(100% - 100px);
}

.main-nav span {
  position: absolute;
  top: 50%;
  left: 30px;
  z-index: 100;
  margin-top: -15px;
}

.top-nav {
  height: 100px;
  padding: 30px 0;
}

.notifications {
  border: 2px solid #6c7a89;
  border-radius: 5px;
  background: #6c7a89;
  padding: 5px;
  height: 100%;
}

.cener-content {
  height: 100%;
}

.content {
  height: calc(100% - 200px);
  overflow: hidden;
  background: #ececec;
}

.content-row {
  margin: 0;
}

.content-item {
  border: 4px solid #6c7a89;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.content-item:hover {
  box-shadow: 0 0 30px #6c7a89;
}

.content-item h4 {
  font-weight: bold;
  margin: 0;
}

.content-item p {
  margin: 0;
  font-size: 12px;
}

.content-item p span {
  font-weight: bold;
}

.content-pagination {
  text-align: center;
}

.content h1 {
  text-align: center;
  padding-right: 25px;
}

.user-account {
  font-size: 16px;
}