html, body {
  height: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-wrapper > div {
  height: 100%;
}

.site-wrapper > div > div {
  height: 100%;
  padding: 10px 5px;
}

.main-menu {
  position: relative;
}

.main-menu, .user-account {
  height: 100px;
}

.top-nav, .main-nav {
    opacity: 0.4;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    border: 1px solid #CCCCCC;
    transition: .3s;
}

.top-nav:hover, .main-nav:hover {
  background-color: #EFEFEF;
}

.main-nav {
  position: relative;
  height: calc(100% - 106px);
  margin: 6px 0px;

}

.main-nav span {
  position: absolute;
  top: 50%;
  left: 40px;
  z-index: 100;
  margin-top: -15px;
}

.top-nav {
  height: 100px;
  padding: 30px 0;
}

.notifications {
  border: 1px solid #EBEBEB;
  background: #FFFFFF;
  padding: 5px;
  height: 100%;
}

.center-content {
  height: 100%;
}

.content {
  height: calc(100% - 212px);
  overflow: hidden;
  background: white;
  border: 1px solid #EBEBEB;;
  margin: 6px 0px;
}

.content-row {
  margin: 0;
}

.content-item {
  border: 1px solid #EBEBEB;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
  transition: .3s;
}

.content-item:hover {
  background: rgba(235, 235, 235, 0.4);
}

.content-item h4 {
  font-weight: bold;
  margin: 0;
}

.content-item p {
  margin: 0;
  font-size: 12px;
}

.content-item p span {
  font-weight: bold;
}

.content-pagination {
  text-align: center;
}

.content h1 {
  text-align: center;
  padding-right: 25px;
}

.user-account {
  font-size: 16px;
}

.close {
  outline: none;
}