.hide-message {
    display: none;
}

.messanger-wrap {
	position: absolute;
	top: 0;
	left: 0;
}

.close {
    outline: none;
}

.message-wrap {
    position: absolute;
    width: 450px;
    top: 10px;
    left: 5px;
}

.tooltip-wrapper {
    position: absolute;
    width: 200px;
}