.wrapper {
    margin: 10px;
}

#container {
  padding: 20px;
  height: 100%;
  min-height: 400px;
  border: 1px solid rgba(128, 128, 128, 0.22);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.25);
}

#container h1 {
  text-align: center;
}

#container table {
  width: 100%;
}

.period-title {
    font-size: 24px;
}

.schedule-event {
    background: #c6e7f4;
    font-size: 14px;
    font-weight: bold;
}

.main-nav {
    opacity: 0.4;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    border: 1px solid #CCCCCC;
    transition: .3s;
}

.main-nav:hover {
  background-color: #EFEFEF;
}

.main-nav {
  position: relative;
  height: 70px;
  margin: 6px 0px;
}

.main-nav span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin-top: -15px;
  margin-left: -15px;
}

.week-month-switch {
  float: right;
}

table {
  font-size: 10px; 
  text-align: center;
}

.table thead > tr > th {
  background-color: #70adc9;
  font-size: 12px;
}

.table tbody > tr > td {
  padding: 2px;
  border-color: #70adc9;
}

.error404 {
    position: absolute;
    width: 400px;
    height: 300px;
    left: 50%;
    margin-left: -200px;
    background: url("/open/img/error404.gif");
}