.locations h1 {
  text-align: center;
}

.locations-list {
  min-height: 225px;
}

.location-nav {
  cursor: default;
  color: rgba(0, 0, 0, 0.09);
}

.location-nav span:hover {
  color: inherit;
}

.location-item * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}

.content-item.selected-location {
  border: 1px solid #286090;
}

.data-info {
  float: right;
  font-size: 14px;
  margin: 4px;
}

#my-location-field {
    margin-left: 20px;
    width: 300px;
    position: absolute;
    z-index: 100;
}

.form-filter input[type="checkbox"] {
    display: none;
}

.form-filter input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-filter input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-filter input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-filter input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-filter input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}