.fullInfo {
    cursor: pointer;
}

.edit-group-ico, .delete-group-ico {
    float: right;
    font-size: 10px;
    margin: 4px;
}

.modal .input-group input, .modal .input-group select {
    margin-bottom: 10px;
}

.experts-block input {
    margin-bottom: 5px;
}

.content-item span.glyphicon {
    font-size: 12px;
}

.content-wrap {
    padding: 7px 10px;
    line-height: 2;
}

    .content-wrap h4 {
        font-size: 18px;
    }

    .content-wrap p {
        font-size: 14px;
    }