.fullInfo {
    cursor: pointer;
}

.edit-group-ico, .delete-group-ico {
    float: right;
    font-size: 10px;
    margin: 4px;
}

.modal .input-group input, .modal .input-group select {
    margin-bottom: 10px;
}