.add-new-group {
    float: right;   
}

#groupAdd input, #groupAdd select {
    margin-bottom: 10px;
}

#startDate, #finishDate {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    text-align: center;
}

.add-teacher, .add-expert {
    display: block;
    cursor: pointer;
}

.modal-footer {
    clear: both;
    border-top: none;
}

#main {
  min-height: 225px;
}

#my-groups-field {
    margin-left: 20px;
    width: 200px;
    position: absolute;
    z-index: 100;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}