.container {
    padding: 25px;
}

table > button {
    margin-top: 15px;
}

td button:first-child {
    margin-right: 5px;
}

th.actions {
    width: 140px;
}

.tab-content {
    margin-top: 15px;
}

.teachers-block .input-group input, .experts-block .input-group input{
    margin-bottom: 5px;
}

.btn.change-password {
    margin: 10px 0 5px 0;
}

.input-group.new-password {
    display: none;
}