.container {
    padding: 25px;
}

table > button {
    margin-top: 15px;
}

td button:first-child {
    margin-right: 5px;
}

th.actions {
    width: 140px;
}

.tab-content {
    margin-top: 15px;
}

.teachers-block input, .experts-block input{
    margin-bottom: 5px;
}

.teachers-block a, .experts-block a {
    display: block;
}

.btn.change-password {
    margin-bottom: 15px;
}

.form-group.new-password {
    display: none;
}