.edit-panel .edit-panel-labels {
    margin-right: 5px;
}

.edit-panel select[name="OfficeName"] {
    display: inline-block;
    width: 60%;
}

.offices, .rooms, .event-type {
	margin-bottom: 20px;
}