.schedule-header, .schedule-footer, .schedule-content {
    position:absolute;
    width:100%;
}
.schedule-header {
    height:180px;
}
.schedule-footer {
    height:100px;
}
.schedule-footer {
    bottom:0;
}
.schedule-content {
    top:180px;
    bottom:100px;
    overflow-y:scroll;
}
.schedule-table {
    table-layout: fixed;
    width: 100%;
}
.schedule-bordered {
    border: 1px double #ccc; 
    padding: 3px;
}
.schedule-event {
    background: #ccc;
    border: 1px solid #ccc;    
}
.schedule-info {
    position: absolute;
    width: 7%;
    z-index: 10;
    background-color: rgba (0, 0, 0, 0);
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #ccc;
    cursor: pointer;
    color: white;
}
