.schedule-header, .schedule-footer, .schedule-content {
    position:absolute;
    width:100%;
}
.schedule-header {
    height:230px;
}
.schedule-footer {
    height:100px;
}
.schedule-footer {
    bottom:0;
}
.schedule-content {
    top:230px;
    bottom:100px;
    overflow-y:scroll;
}
