.schedule-full-height {
    height: calc(100% - 122px);
    display: table;
}

@-moz-document url-prefix() { 
    .schedule-full-height {
        display: inherit;
    }
} 

.schedule-header {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #286090;
    cursor: pointer;
    color: white;
}

.schedule-list-item {
    padding-left: 5px;
}

.schedule-h {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
}

.schedule-drop {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.schedule-table-container {
    overflow-y: auto;
    max-height: calc(100% - 69px);
    padding: 5px;
}

.schedule-table {
    table-layout: fixed;
    width: 100%;
}

.schedule-table > thead > tr > th {
    background-color: #337ab7;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.schedule-table > tbody > tr:nth-child(odd) {
    background-color: #d9edf7;
}

.schedule-bordered {
    border: 1px double #286090;
    padding: 3px;
}

.schedule-event {
    background: #337ab7;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}